@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FT Kunst Grotesk Trial';
    src: url('FTKunstGroteskTrial-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

